<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqtTmjTTIkw0ql6SLskcG_jx1mrUo83Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>73357122110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beautifullui</string>
	<key>PROJECT_ID</key>
	<string>flutterbloc-39468</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbloc-39468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73357122110:ios:505621d80d951a2cc4cf6f</string>
</dict>
</plist>